
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color:#7B68EE;

}

.imgbaner{
  display: flex;
  width: 150px;
  height: 150px;
}

.divimg{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2{
  color:#F0F8FF;
  font-family: Verdana;
  font-weight: bold;
  font-size: 25;
  margin-top: 0;
}

label{
  margin-right:115px;
  margin-bottom:10px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 25;
  color:#7B68EE;
}


.p_loguin{
  margin-right: 500px;
  margin-top: 24px;
}


.formloguin{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  
}

.inputloguin{
  width: 63%;
  height: 60px;
  padding: 5px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius:10px;
  outline: none;
  border: none;
  box-shadow: 2px 2px 2px #7B68EE;
  font-size: 20px;

}


.inputloguin:hover{
  outline: none;
  padding-left:20px;
}

.inputloguin::placeholder{
  padding-left:15px;
  color:#9c9696;
}

.botao{
  width: 180px;
  height: 50px;
  background-color:#7B68EE;
  border: none;
  outline: none; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: center;
  border-radius: 5px;
  color:#F0F8FF;
  
}

.botao:hover{
  opacity: 0.5;
}

a{
  color:#7B68EE;
  font-family: Verdana;
  font-size: 10;
  margin-top: 10px;
  text-decoration: none;
}



.boxcadastro {
  width: 60%;
  height: 630px;
  background-color:#F0F8FF;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  
}



.titulo{
  margin-left: auto;
  margin-right: auto;
}


